<!DOCTYPE html>
<html>
    <head>
        <title>CS 411 Project</title>
	<meta charset="UTF-8">
	<meta name="description" content="Upload and view your Recipes">
	<meta name="keywords" content="HTML,CSS,JavaScript,flask">
	<meta name="author" content="Spencer Buja">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"> </script>
        {% block script %}{% endblock %}
        {% block style %}{% endblock %} 
   </head>
    <body>
	<div id="header" style="width:100%;height:50px;position:fixed;top:0px;background-color:gray">
		You are on the Recipes site.
	</div>
        <div id="content" style="margin-top: 50px">
            {% block body %}{% endblock %}
        </div>
        <div id="nav" style="margin-bottom: 50px">
            <ul>
                {% block nav %}{% endblock %}
            </ul>
        </div>
	<div id="footer" style="width:100%;height:50px;position:absolute;fixed:0px;background-color:gray">
		This is a cool footer.
	</div>
    </body>
</html>